# --- FIREBASE CONFIGURATION ---
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# --- SMTP EMAIL CONFIGURATION ---
SMTP_USER=
SMTP_PASS=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# --- OTHER CONFIG ---
VERCEL=0
# ---------------------------------------------------